

.header {
    max-width: fit-content;
    margin: 1rem auto;
}

.emptyMessage {
    max-width: fit-content;
    margin: 5rem auto;
    padding: 10rem 5rem;
    font-size: 3rem;
    background-color: var(--primary);
}