.productCard {
    border: 1px solid var(--primary);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(45%);
    max-width: calc(45%);
    padding: 16px;
    margin: 16px auto;
    background-color: var(--cardbg);
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.productTitle {
    font-size: 1.5rem;
    color: var(--cardheader);
    margin-bottom: 12px;
    text-align: center;
}

.productBrand,
.productPrice,
.productRating {
    font-size: 1rem;
    color: var(--cardparagraph);
    margin: 8px 0;
}

.purchaseDetails {
    margin-top: 1rem;
}

.purchaseQuantity,
.total {
    font-size: 1.1rem;
    color: var(--background);
    margin: 8px 0;
}

.purhcaseQuantitySelector {
    display: inline-block;
}

.quantityContainer {
    display: flex;
    gap: 1rem;
}