
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .formContainer {
    background-color: var(--cardbg);
    color: var(--cardheader);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--cardparagraph);
  }
  
  .input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input:focus {
    border-color: var(--highlight);
  }
  
  .button {
    padding: 12px;
    background-color: var(--background);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: var(--primary);
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.875rem;
  }
  
  .link {
    color: var(--background);
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }